{% extends 'base/main.html' %}

{% block content %}
<div class="header-bar">
  <h1>Sign Up</h1>
</div>

<div class="card-body">
  <form method="post">
    {% csrf_token %}

    <div>
      <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      {{ form.username }}
    </div>

    <div>
      <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
      {{ form.password1 }}
    </div>

    <div>
      <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
      {{ form.password2 }}
    </div>

    <button type="submit" class="button" style="margin-top:10px;">Sign Up</button>
  </form>

  <p>Already have an account?
    <a href="{% url 'login' %}" style="color: #cf4949;">Login</a>
  </p>
</div>
{% endblock content %}